
:root {
  --pink: oklch(70.17% 0.322 328.36);
  --blue: oklch(90.54% 0.15455001106436891 194.76894793196382);
  --gradient: linear-gradient(to right in srgb, var(--pink), var(--blue), var(--pink));
  --light: oklch(94.91% 0 0);
  --dark: oklch(25.2% 0 0);
  --glass: oklch(100% 0 0 0.3);
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%
}

body {
  background-color: rgb(0 0 0);
  font-family: Poppins,sans-serif;
  font-size: 1rem;
}

#srOnly {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  position: absolute;
  display: none;
  white-space: nowrap;
  height: 1px;
  width: 1px
}

h1 span, h2, h3,
h4, h5, h6 {
  --bg-size: 400%;
  background: var(--gradient) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move-bg 15s infinite linear;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }

  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (min-width:640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  h1 span, h2, h3,
  h4, h5, h6 {
    animation: move-bg 8s linear infinite;
  }
  
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}