<nav>
  <input id="nav-toggle" class="hidden" type="checkbox" />
  <label class="nav-button-container" for="nav-toggle">
    <div class="nav-button"></div>
  </label>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/brain-dump">Brain Dump</a>
    </li>
    <li>
      <a href="/uses">What I Use</a>
    </li>
  </ul>
</nav>

